body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: radial-gradient(50% 50%, #fafafa, #cccece);
}
.main-content-container {
  display: flex;
  align-items: stretch;
  margin: auto;
  padding: 0;
  width: 500px;
  height: 650px;
  background-color: white;
  font-family: "Noto Sans JP", sans-serif;
}
.left-container {
  width: 170px;
  background-color: #ff6347;
}
.right-container {
  width: 300px;
  background-color: white;
}
